.comments-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 2rem;
}

.comment-container {
  display: flex;
  margin-bottom: -20px;
  margin-top: -20px;
}

.comment-container > p {
  align-self: center;
}

.create-post {
  text-decoration: none;
  color: black;
  margin-left: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  padding: 0.4rem;
}

.view-post {
  text-decoration: none;
  color: black;
}

.user-interactions {
  text-decoration: none;
  color: black;
}

.interactive-links {
  text-decoration: none;
  color: black;
}

.like-button {
  font-size: 1rem;
  padding: 0;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 0.1rem;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.load-more-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.load-more-button:hover {
  background-color: #0056b3;
}
